[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "==0.7.1"
requests = "==2.32.5"
llama-stack-client = "==0.2.9"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
